<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-button slot="end" (click)="fecharModal()">Fechar</ion-button>
    <ion-title>Novo Cliente</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content>
<form #f="ngForm" (ngSubmit)="enviando(f)">
<ion-item>
    <ion-title class="ion-text-center">Cadastre-se</ion-title>
</ion-item>
<ion-list>
<ion-item>
    <ion-label>Nome</ion-label>
    <ion-input ngModel name="nome" label="" label-placement="floating" fill="outline"></ion-input>
</ion-item>
<ion-item>
    <ion-label>E-mail</ion-label>
    <ion-input ngModel name="email" label="" label-placement="floating" fill="outline"></ion-input>
</ion-item>
<ion-item>
    <ion-label>Telefone/Celular</ion-label>
    <ion-input ngModel name="telefone" label="" label-placement="floating" fill="outline"></ion-input>
</ion-item>
<ion-item>
    <ion-label>Senha</ion-label>
    <ion-input ngModel name="senha" label="" label-placement="floating" fill="outline" ></ion-input>
<ion-button fill="outline" expand="block" type="submit">Cadastrar</ion-button>
</ion-item>
</ion-list>
</form>
</ion-content>

