<ion-header [translucent]="true">
    <ion-toolbar color="danger">
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/cursos"></ion-back-button>
      </ion-buttons>
      <ion-title>Strogonoff de Frango</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <ion-card>
      <img class="imagem" src="assets/strogonoff.jpg" />
      <ion-card-header>
        <ion-card-title class="cardtitle">Strogonoff de Frango</ion-card-title>
        <ion-card-subtitle class="cardsubtitle">O strogonoff de frango é um prato amado por todos e muito fácil de ser preparado!</ion-card-subtitle>
      </ion-card-header>
    </ion-card>
  
    <ion-item class="Ingredientes">Ingredientes:</ion-item>
    <ion-item class="lista">
      <table>
        <tr>
          <th>Quantidade</th>
          <th>Ingrediente</th>
        </tr>
        <tr>
          <td>3</td>
          <td>peitos de frango cortados em cubos</td>
        </tr>
        <tr>
          <td></td>
          <td>sal a gosto</td>
        </tr>
        <tr>
          <td>1</td>
          <td>cebola picada</td>
        </tr>
        <tr>
          <td>1</td>
          <td>colher de sopa de manteiga</td>
        </tr>
        <tr>
          <td>3</td>
          <td>copos de mostarda</td>
        </tr>
        <tr>
          <td>1</td>
          <td>copo de creme de leite</td>
        </tr>
        <tr>
          <td>1</td>
          <td>dente de alho picado</td>
        </tr>
        <tr>
          <td></td>
          <td>pimenta do reino a gosto</td>
        </tr>
        <tr>
          <td>2</td>
          <td>colheres de sopa de maionese</td>
        </tr>
        <tr>
          <td>2</td>
          <td>copos de ketchup</td>
        </tr>
      </table>
    </ion-item>
  
    <p><ion-item class="Instruções">Instruções:</ion-item></p>
  
    <ion-item class="guia">
      <ion-list>
        <ion-item>1. Em uma panela, misture o frango, o alho, a maionese, o sal e a pimenta.</ion-item>
        <ion-item>2. Em uma frigideira grande, derreta a manteiga e doure a cebola.</ion-item>
        <ion-item>3. Junte o frango temperado até que esteja dourado.</ion-item>
        <ion-item>4. Adicione o creme de leite, ketchup, mostarda e deixe cozinhar por alguns minutos.</ion-item>
        <ion-item>5. Sirva com arroz branco e batata palha.</ion-item>
      </ion-list>
    </ion-item>
  </ion-content>
  