<ion-header [translucent]="true">
  <ion-toolbar color="danger">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/cursos"></ion-back-button>
    </ion-buttons>
    <ion-title>Temaki de Salmão</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <img class="imagem" src="https://t4.ftcdn.net/jpg/02/31/18/89/360_F_231188931_Ta7LWi6VEy18ggCwvtAMAki8c8KJ1KdL.jpg" />
    <ion-card-header>
      <ion-card-title class="cardtitle">Temaki de Salmão</ion-card-title>
      <ion-card-subtitle class="cardsubtitle">Prepare seu próprio temaki de salmão em casa!</ion-card-subtitle>
    </ion-card-header>
  </ion-card>

  <ion-item class="Ingredientes">Ingredientes:</ion-item>
  <ion-item class="lista">
    <table>
      <tr>
        <th>Quantidade</th>
        <th>Ingrediente</th>
      </tr>
      <tr>
        <td>200g</td>
        <td>Arroz para sushi</td>
      </tr>
      <tr>
        <td>200g</td>
        <td>Salmão fresco</td>
      </tr>
      <tr>
        <td>1 pacote</td>
        <td>Alga nori para temaki</td>
      </tr>
      <tr>
        <td></td>
        <td>Cream cheese</td>
      </tr>
      <tr>
        <td></td>
        <td>Alface</td>
      </tr>
      <tr>
        <td></td>
        <td>Pepino japonês</td>
      </tr>
      <tr>
        <td></td>
        <td>Maionese japonesa</td>
      </tr>
    </table>
  </ion-item>

  <p><ion-item class="Instruções">Instruções:</ion-item></p>

  <ion-item class="guia">
    <ion-list>
      <ion-item>1. Cozinhe o arroz para sushi conforme as instruções da embalagem.</ion-item>
      <ion-item>2. Corte o salmão, o cream cheese, o pepino e a alface em tiras finas.</ion-item>
      <ion-item>3. Coloque uma folha de alga nori sobre uma esteira de bambu.</ion-item>
      <ion-item>4. Espalhe uma camada fina de arroz sobre a alga.</ion-item>
      <ion-item>5. Adicione as tiras de salmão, cream cheese, pepino e alface no centro.</ion-item>
      <ion-item>6. Enrole o temaki com a ajuda da esteira, formando um cone.</ion-item>
      <ion-item>7. Finalize com um pouco de maionese japonesa por cima.</ion-item>
      <ion-item>8. Corte ao meio e sirva imediatamente.</ion-item>
    </ion-list>
  </ion-item>
</ion-content>
