*{
    padding: 0;
    margin: 0;
    font-family: "Abel";
    box-sizing: border-box;
}
.text{
    font-size: 25px;
    margin-top: 30px;
    margin: 20px;
    margin-bottom: 30px;
}
ion-menu-button{
    margin-right:290px;
}
.input-nome{
    width: 100%;
    border-radius: 20px;
    border: 1px solid white;
    margin-bottom: 30px;
}
.input-email{
    width: 100%;
    border-radius: 20px;
    border: 1px solid white;
    margin-bottom: 30px;
}
.input-telefone{
    width: 100%;
    border-radius: 20px;
    border: 1px solid white;
    margin-bottom: 30px;
}
.input-senha{
    width: 100%;
    border-radius: 20px;
    border: 1px solid white;
    
}
.button-cadastrar{
    border: 1px solid white;
    width: 120px;
    margin:20px;
    margin-top: 50px;
    border-radius: 30px;
    margin-left: auto;
    margin-right: auto;
}
.button-login{
    margin:10px;
    border-radius: 30px;
    margin-left: auto;
    margin-right: auto;
}
.button-login p{
    margin-left: 60px;
}
