<ion-header [translucent]="true">
  <ion-toolbar color="danger">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/cursos"></ion-back-button>
    </ion-buttons>
    <ion-title>Sashimi de Salmão</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <img class="imagem" src="https://c4.wallpaperflare.com/wallpaper/745/186/430/salmon-ice-fish-meat-wallpaper-preview.jpg" />
    <ion-card-header>
      <ion-card-title class="cardtitle">Sashimi de Salmão</ion-card-title>
      <ion-card-subtitle class="cardsubtitle">Delicioso sashimi fresco de salmão.</ion-card-subtitle>
    </ion-card-header>
  </ion-card>

  <ion-item class="Ingredientes">Ingredientes:</ion-item>
  <ion-item class="lista">
    <table>
      <tr>
        <th>Quantidade</th>
        <th>Ingrediente</th>
      </tr>
      <tr>
        <td>300g</td>
        <td>Salmão fresco</td>
      </tr>
      <tr>
        <td>1</td>
        <td>Limão</td>
      </tr>
      <tr>
        <td>1 colher de sopa</td>
        <td>Molho de soja (shoyu)</td>
      </tr>
      <tr>
        <td>1 colher de chá</td>
        <td>Gengibre fresco ralado</td>
      </tr>
      <tr>
        <td>1 colher de chá</td>
        <td>Wasabi (opcional)</td>
      </tr>
    </table>
  </ion-item>

  <p><ion-item class="Instruções">Instruções:</ion-item></p>

  <ion-item class="guia">
    <ion-list>
      <ion-item>1. Corte o salmão em fatias finas e reserve na geladeira.</ion-item>
      <ion-item>2. Prepare uma mistura de suco de limão, molho de soja e gengibre ralado.</ion-item>
      <ion-item>3. Disponha o sashimi em um prato e sirva com a mistura de molho à parte.</ion-item>
      <ion-item>4. Opcionalmente, sirva com wasabi.</ion-item>
    </ion-list>
  </ion-item>
</ion-content>
