*{
    padding: 0;
    margin: 0;
    font-family: "Abel";
    box-sizing: border-box;
}
.text{
    font-size: 25px;
    margin-top: 30px;
    margin: 20px;
    margin-bottom: 30px;
}
ion-menu-button{
    margin-right:290px;
}
.input-email ion-input{
    width: 100%;
    border-radius: 20px;
    border: 1px solid white;
    margin-bottom: 30px;
}
.input-senha ion-input{
    width: 100%;
    border-radius: 20px;
    border: 1px solid white;
    
}
.button-entrar{
    text-align: center;
    border: 1px solid white;
    width: 110px;
    margin:20px;
    margin-top: 50px;
    border-radius: 30px;
    margin-left: auto;
    margin-right: auto;

}
.button-criar{
    margin:10px;
    margin-left: auto;
    margin-right: auto;
}
.button-criar p{
    margin-left: 40px;
}