
*{
    margin-top: 10px;
    font-family: "Abel"
}
.botao-entrar{
    height: 40px;
    width: 100px;
    margin-bottom: 20px;
 
    
}
.botao-cadastrar{
    height: 40px;
    width: 100px;
    margin-bottom: 20px;
   
}
.title{
    margin-right: 20px;
    margin-bottom: 20px;
 
}
.barra-bottom .barra-botoes{
    color:white;
    margin-bottom:20px;
  
}


.butao{
    display: flex;
    height: 100px;

}
.icon{
    color: white;
}
