ion-header {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
}

ion-title {
    font-size: 24px;
    text-align: center;
}


ion-content {
    padding: 20px;
}

.imagem {
    max-width: 100%;
    height: auto;
}

.cardtitle {
    font-size: 20px;
    font-weight: bold;
}

.cardsubtitle {
    font-size: 16px;
    color: #777;
}

.Ingredientes {
    text-align: center;
    font-weight: bold;
    margin-top: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ffffff;
}

th {
    background-color: #ff6c82fb;
}
.instruções {
    font-weight: bold;
    font-size: 1.2em;
    margin-bottom: 10px;
  }

.guia ion-list ion-item {
    margin-bottom: 8px;
    line-height: 1.5;
    padding: 1px;
  }

  ion-content {
    padding: 20px;
  }