*{
    font-family: "Abel";
}
ion-chip{
    width: 100%;
    height: 40px;

}

.icon-cafe{
    width: 30px;
    height: 30px;
}
.icon-almoco{
    width: 30px;
    height: 30px;
}
.icon-sobremesa{
    width: 30px;
    height: 30px;
}