<ion-header [translucent]="true">
  <ion-toolbar color="danger">
      <ion-title >Cookie</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card>
      <img class="imagem" src="assets/cookies.jpg" />
      <ion-card-header>
          <ion-card-title class="cardtitle">Cookies</ion-card-title>
          <ion-card-subtitle class="cardsubtitle">Cookies para alegrar o dia.</ion-card-subtitle>
      </ion-card-header>
  </ion-card>
  <ion-item class="Ingredientes">Ingredientes:</ion-item>
  <ion-item class="lista">
      <table>
          <tr>
              <th>Quantidade</th>
              <th>Ingrediente</th>
          </tr>
          <tr>
              <td>125g</td>
              <td>manteiga sem sal em temperatura ambiente</td>
          </tr>
          <tr>
              <td>1/2</td>
              <td>xícara de açúcar mascavo</td>
          </tr>
          <tr>
              <td>3/4 </td>
              <td>xícara de farinha de trigo</td>
          </tr>
          <tr>
              <td>300g</td>
              <td> chocolate meio amargo picado</td>
          </tr>
          <tr>
              <td>3/4</td>
              <td>xícara de açucar</td>
          </tr>
          <tr>
              <td>1</td>
              <td>ovo</td>
          </tr>
          <tr>
              <td>1</td>
              <td>colher de fermento em pó</td>
          </tr>
          <tr>
              <td>1</td>
              <td>colher de essência de baunilha</td>
          </tr>
          <tr>
              <td>1</td>
              <td>xícara de chocolate em pó</td>
          </tr>
      </table>
    
  </ion-item>

  <p><ion-item class="Instruções">Instruções:</ion-item></p>
  

  <ion-item class="guia">
    <ion-list>
     <p><ion-item>1. Misture a manteiga, açúcar mascavo, açúcar, essência de baunilha (e chocolate em pó, se for fazer cookies com base de chocolate).</ion-item></p>
      <ion-item>2. Adicione o ovo batido aos poucos e misture bem.</ion-item>
      <ion-item>3. Acrescente a farinha aos poucos e misture bem (pode ser na mão ou na batedeira planetária)</ion-item>
      <ion-item>4. Por último, adicione o fermento e misture só para incorporá-lo à massa.</ion-item>
      <ion-item>5. Depois da massa bem misturada, adicione o chocolate picado.</ion-item>
      <ion-item>6. Forme bolinhas pequenas e asse em forno preaquecido, sobre papel manteiga, por aproximadamente 15 a 20 minutos (250° C).</ion-item>
    </ion-list>
  </ion-item>
  
</ion-content>
