<ion-header [translucent]="true">
  <ion-toolbar color="danger">
      <ion-title >Cookie</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card>
      <img class="imagem" src="assets/pudim.jpg" />
      <ion-card-header>
          <ion-card-title class="cardtitle">Pudim</ion-card-title>
          <ion-card-subtitle class="cardsubtitle">Pudim de leite é uma receita de sobremesa fácil que todo mundo ama.</ion-card-subtitle>
      </ion-card-header>
  </ion-card>
  <ion-item class="Ingredientes">Ingredientes:</ion-item>
  <ion-item class="lista">
      <table>
          <tr>
              <th>Quantidade</th>
              <th>Ingrediente</th>
          </tr>
          <tr>
              <td>1</td>
              <td>xícara chá de açucar</td>
          </tr>
          <tr>
              <td>1</td>
              <td>lata de leite condensado</td>
          </tr>
          <tr>
              <td>3</td>
              <td>ovos</td>
          </tr>
          <tr>
              <td>2</td>
              <td> latas de leite (medida da lata de leite condensado)</td>
          </tr>
          <tr>
         
      </table>
    
  </ion-item>

  <p><ion-item class="Instruções">Instruções:</ion-item></p>
  <ion-text>CALDA DO PUDIM:</ion-text>

  <ion-item class="guia">
    
    <ion-list>
     <p><ion-item>1. Em uma panela de fundo largo, derreta o açúcar até ficar dourado.</ion-item></p>
      <ion-item>2. Junte 1/2 xícara (chá) de água quente e mexa com uma colher.</ion-item>
      <ion-item>3. Deixe ferver até dissolver os torrões de açúcar e a calda engrossar.</ion-item>
      <ion-item>4. Forre com a calda uma forma com furo central (19 cm de diâmetro) e reserve.</ion-item>

      <ion-text>PUDIM:</ion-text>

      <ion-item>5. Bata todos os ingredientes do pudim no liquidificador e despeje na forma reservada.</ion-item>
      <ion-item>6. Asse em banho-maria, em forno médio (180º C), por cerca de 1 hora e 30 minutos.</ion-item>
      <ion-item>6. Depois de frio, leve para gelar por cerca de 6 horas.</ion-item>
      <ion-item>6.Desenforme e sirva a seguir.</ion-item>
    </ion-list>
  </ion-item>
  
</ion-content>
