.username {
    text-align: center;
}
.icone {
   position:absolute;
   top:50%;
   left: 50%;
   transform: translate(-50%, -50%);
   padding-top: 5px;
   padding-bottom: 5px;

}
.img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    

}

.img-user {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.text{
    text-align: center;
}
.img-user{
    border-radius: 5px;
    height: 100px;
    width: 100px;
}
