<ion-content>
  <div class="img-container">  
    <ion-avatar class="img-user">
      <ion-img [src]="cliente?.imagem || 'assets/ratatonho.jpg'"></ion-img>
    </ion-avatar> 
    <div class="username">
    <ion-label> {{ cliente?.nome }}</ion-label>
    </div>
  </div>

  <ion-item class="email">
    <ion-label >Email: {{ cliente?.email }}</ion-label>
  </ion-item>
  <ion-item class="telefone">
    <ion-label>Telefone: {{ cliente?.telefone }}</ion-label>
  </ion-item>
  <ion-item class="data_nascimento">
    <ion-label>Data de Nascimento: {{ cliente?.data_nasc }}</ion-label>
  </ion-item>
  <ion-item>
    <ion-label class="genero">Gênero: {{ cliente?.genero }}</ion-label>
  </ion-item>

  <ion-item class="upload-img">
    <ion-label>Upload Imagem</ion-label>
    <ion-input type="file" id="file-img" (change)="onFileSelected($event)" accept="image/*">
      
    </ion-input>
  </ion-item>

    <ion-button class="atualizar" fill="outline" expand="block" (click)="atualizar(cliente)">Atualizar Perfil</ion-button>

</ion-content>
