<ion-content>
  <ion-item class="img-container">
    <ion-avatar class="img-user">
      <ion-img [src]="cliente?.imagem || 'assets/ratatonho.jpg'"></ion-img>
    </ion-avatar> 
  </ion-item>

  <ion-item class="username">Nome: {{ cliente?.nome }}</ion-item>
  <ion-item>
    <ion-label>Email: {{ cliente?.email }}</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Telefone: {{ cliente?.telefone }}</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Data de Nascimento: {{ cliente?.data_nasc }}</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Gênero: {{ cliente?.genero }}</ion-label>
  </ion-item>

  <ion-item>
    <ion-label>Upload Imagem</ion-label>
    <input type="file" (change)="onFileSelected($event)" accept="image/*">
  </ion-item>

  <ion-item>
    <ion-button expand="block" (click)="atualizar(cliente)">Atualizar Perfil</ion-button>
  </ion-item>
</ion-content>
