
<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-icon (click)="abrirPagina('feed')" class="icon-back" name="arrow-back-outline"></ion-icon>
      <ion-title class="title" size="">Publique sua Receita</ion-title>
    </ion-toolbar>
  </ion-header> 

  <ion-list class="container">
    <ion-item class="input-title">
    <ion-input placeholder="Título"> </ion-input>
    </ion-item>

    <ion-item class="input-descricao">
      <textarea placeholder="Insira a receita"></textarea>
    </ion-item>

    <ion-list class="input-file-img">
      <ion-label>Escolha uma imagem</ion-label>
      <ion-input type="file" ></ion-input>
    </ion-list>
 </ion-list>

</ion-content>
