<ion-header [translucent]="true">
  <ion-toolbar color="danger">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/cursos"></ion-back-button>
    </ion-buttons>
    <ion-title>Sushi Hot Philadelphia</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <img class="imagem" src="https://img.freepik.com/fotos-gratis/homem-segurando-varas-com-tempura-roll-arroz-caranguejo-creme-queijo-gergelim-enguia-gengibre-wasabi-vista-lateral_141793-3566.jpg" />
    <ion-card-header>
      <ion-card-title class="cardtitle">Sushi Hot Philadelphia</ion-card-title>
      <ion-card-subtitle class="cardsubtitle">Aprenda passo a passo como fazer um delicioso sushi hot philadelphia!</ion-card-subtitle>
    </ion-card-header>
  </ion-card>

  <ion-item class="Ingredientes">Ingredientes:</ion-item>
  <ion-item class="lista">
    <table>
      <tr>
        <th>Quantidade</th>
        <th>Ingrediente</th>
      </tr>
      <tr>
        <td>200g</td>
        <td>Arroz para sushi</td>
      </tr>
      <tr>
        <td>200g</td>
        <td>Salmão fresco</td>
      </tr>
      <tr>
        <td></td>
        <td>Cream cheese</td>
      </tr>
      <tr>
        <td></td>
        <td>Alga nori para sushi</td>
      </tr>
      <tr>
        <td></td>
        <td>Farinha de trigo</td>
      </tr>
      <tr>
        <td></td>
        <td>Farinha de rosca</td>
      </tr>
      <tr>
        <td></td>
        <td>Óleo para fritar</td>
      </tr>
      <tr>
        <td></td>
        <td>Molho teriyaki ou maionese temperada</td>
      </tr>
    </table>
  </ion-item>

  <p><ion-item class="Instruções">Instruções:</ion-item></p>

  <ion-item class="guia">
    <ion-list>
      <ion-item>1. Cozinhe o arroz para sushi conforme as instruções da embalagem.</ion-item>
      <ion-item>2. Corte o salmão e o cream cheese em tiras.</ion-item>
      <ion-item>3. Coloque uma folha de alga nori sobre uma superfície plana.</ion-item>
      <ion-item>4. Espalhe uma camada fina de arroz sobre a alga, deixando uma borda livre.</ion-item>
      <ion-item>5. Distribua as tiras de salmão e cream cheese sobre o arroz.</ion-item>
      <ion-item>6. Enrole cuidadosamente o sushi, formando
