/* Estilos opcionais */
ion-avatar {
    width: 50px;
    height: 50px;
  }
  
  .username {
    font-weight: bold;
  }
  
  .emails {
    margin-top: 10px;
  }
  
  .telef, .data_nasc, .gender {
    margin-top: 20px;
  }
  
  