<ion-header [translucent]="true">
  <ion-toolbar color="danger">
      <ion-title >Brigadeiros</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card>
      <img class="imagem" src="assets/brigadeiro.jpg" />
      <ion-card-header>
          <ion-card-title class="cardtitle">Brigadeiros</ion-card-title>
          <ion-card-subtitle class="cardsubtitle">Nada melhor do que um brigadeiro.</ion-card-subtitle>
      </ion-card-header>
  </ion-card>
  <ion-item class="Ingredientes">Ingredientes:</ion-item>
  <ion-item class="lista">
      <table>
          <tr>
              <th>Quantidade</th>
              <th>Ingrediente</th>
          </tr>
          <tr>
              <td>1</td>
              <td>caixa de leite condensado</td>
          </tr>
          <tr>
              <td>7</td>
              <td>colheres de sopa de achocolatado ou 4 colheres de chocolate em pó</td>
          </tr>
          <tr>
              <td>1 </td>
              <td>colher de sopa de margarina sem sal</td>
          </tr>
          <tr>
              <td>opcional</td>
              <td> chocolate granulado</td>
          </tr>
          <tr>
              
      </table>
    
  </ion-item>

  <p><ion-item class="Instruções">Instruções:</ion-item></p>
  

  <ion-item class="guia">
    <ion-list>
     <p><ion-item>1. Em uma panela funda, acrescente o leite condensado, a margarina e o chocolate em pó.</ion-item></p>
      <ion-item>2. Cozinhe em fogo médio e mexa até que o brigadeiro comece a desgrudar da panela.</ion-item>
      <ion-item>3.Deixe esfriar e faça pequenas bolas com a mão passando a massa no chocolate granulado.</ion-item>
          </ion-list>
  </ion-item>
  
</ion-content>