<ion-header [translucent]="true">
  <ion-toolbar color="danger">
      <ion-title >Tropeiro</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card>
      <img class="imagem" src="assets/feijão-tropeiro.jpg" />
      <ion-card-header>
          <ion-card-title class="cardtitle">Tropeiro</ion-card-title>
          <ion-card-subtitle class="cardsubtitle">Tropeiro para alegrar seu coração!</ion-card-subtitle>
      </ion-card-header>
  </ion-card>
  <ion-item class="Ingredientes">Ingredientes:</ion-item>
  <ion-item class="lista">
      <table>
          <tr>
              <th>Quantidade</th>
              <th>Ingrediente</th>
          </tr>
          <tr>
              <td>200g</td>
              <td>Carne seca</td>
          </tr>
          <tr>
              <td>200g</td>
              <td>Costelinha de porco</td>
          </tr>
          <tr>
              <td>1</td>
              <td>Paio</td>
          </tr>
          <tr>
              <td>1</td>
              <td>calabresa</td>
          </tr>
          <tr>
              <td>2</td>
              <td>folhas de louro</td>
          </tr>
          <tr>
              <td>3</td>
              <td>dentes de alho</td>
          </tr>
          <tr>
              <td>1</td>
              <td>cebola grande</td>
          </tr>
          <tr>
              <td>1</td>
              <td>Sal e pimenta a gosto</td>
          </tr>
          <tr>
              <td>1</td>
              <td>Água</td>
          </tr>
      </table>
    
  </ion-item>

  <p><ion-item class="Instruções">Instruções:</ion-item></p>
  

  <ion-item class="guia">
    <ion-list>
      <ion-item>1. Deixe o feijão preto de molho de um dia para o outro.</ion-item>
      <ion-item>2. Cozinhe a carne seca, a costelinha e o bacon em água para dessalgar e retire as impurezas que subirem à superfície.</ion-item>
      <ion-item>3. Em uma panela grande, refogue a cebola e o alho até dourarem.</ion-item>
      <ion-item>4. Adicione o feijão escorrido, as carnes dessalgadas, o paio, a linguiça calabresa e as folhas de louro.</ion-item>
      <ion-item>5. Cubra com água e deixe cozinhar em fogo baixo até que o feijão esteja macio.</ion-item>
      <ion-item>6. Tempere com sal e pimenta a gosto.</ion-item>
      <ion-item>7. Sirva com arroz branco, couve refogada e farofa.</ion-item>
    </ion-list>
  </ion-item>
  
</ion-content>
