<ion-header [translucent]="true">
    <ion-toolbar color="danger">
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/cursos"></ion-back-button>
      </ion-buttons>
      <ion-title>Feijão Tropeiro</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <ion-card>
      <img class="imagem" src="assets/feijão-tropeiro.jpg" />
      <ion-card-header>
        <ion-card-title class="cardtitle">Feijão Tropeiro</ion-card-title>
        <ion-card-subtitle class="cardsubtitle">Tropeiro para alegrar seu coração!</ion-card-subtitle>
      </ion-card-header>
    </ion-card>
  
    <ion-item class="Ingredientes">Ingredientes:</ion-item>
    <ion-item class="lista">
      <table>
        <tr>
          <th>Quantidade</th>
          <th>Ingrediente</th>
        </tr>
        <tr>
          <td>500g</td>
          <td>feijão carioquinha cozido</td>
        </tr>
        <tr>
          <td>1</td>
          <td>concha de óleo</td>
        </tr>
        <tr>
          <td>4</td>
          <td>dentes de alho</td>
        </tr>
        <tr>
          <td>1</td>
          <td>colher de sopa de sal com alho</td>
        </tr>
        <tr>
          <td>200g</td>
          <td>farinha de mandioca</td>
        </tr>
        <tr>
          <td>200g</td>
          <td>toucinho</td>
        </tr>
        <tr>
          <td>1</td>
          <td>cebola média picada</td>
        </tr>
        <tr>
          <td>5</td>
          <td>ovos</td>
        </tr>
        <tr>
          <td></td>
          <td>cheiro verde a gosto</td>
        </tr>
      </table>
    </ion-item>
  
    <p><ion-item class="Instruções">Instruções:</ion-item></p>
  
    <ion-item class="guia">
      <ion-list>
        <ion-item>1. Coloque o óleo em uma panela e doure a cebola, acrescente o bacon e frite bem.</ion-item>
        <ion-item>2. Adicione o alho, sal e os ovos, misturando com cuidado para que não se despedacem muito.</ion-item>
        <ion-item>3. Refogue o feijão, baixe o fogo, misture a farinha aos poucos e o cheiro verde.</ion-item>
      </ion-list>
    </ion-item>
  </ion-content>
  