<ion-header>
  <ion-toolbar>
    <ion-title>Cursos de Culinária</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list>
    <ion-item button (click)="openCuisine('Brasileira')">
      <ion-label>Culinária Brasileira</ion-label>
    </ion-item>
    <ion-item button (click)="openCuisine('Japonesa')">
      <ion-label>Culinária Japonesa</ion-label>
    </ion-item>
    <ion-item button (click)="openCuisine('Portuguesa')">
      <ion-label>Culinária Portuguesa</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
