<ion-header>
  <ion-toolbar color="danger" class="tab-top">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Cursos de Culinária</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>

  <ion-list >
    <ion-item class="item1">
    <ion-label (click)="openCuisine('Brasileira')">Culinária Brasileira
      </ion-label>
    </ion-item>

    <ion-item class="item2">
        <ion-label (click)="openCuisine('Japonesa')">Culinária Japonesa
        </ion-label>
      </ion-item>

      <ion-item class="item3">
        <ion-label (click)="abrirPagina('/cursos/sobremesa')">Sobremesas
        </ion-label>
      </ion-item>
    </ion-list>

    

</ion-content>