<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Cursos de Culinária</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>

  <ion-list >
    <ion-item>
    <ion-label (click)="openCuisine('Brasileira')">Culinária Brasileira
      </ion-label>
      <ion-select class="select" aria-label="Fruit" interface="popover" placeholder="Categoria">
        <ion-select-option value="geral">Geral</ion-select-option>
        <ion-select-option value="café-da-manha">Café da manhã</ion-select-option>
        <ion-select-option value="almoco">Refeição</ion-select-option>
        <ion-select-option value="sobremesa">Sobremesa</ion-select-option>
        
      </ion-select>
    </ion-item>

      <ion-item>
        <ion-label (click)="openCuisine('Japonesa')">Culinária Japonesa
        </ion-label>
        <ion-select aria-label="Fruit" interface="popover" placeholder="Categoria">
          <ion-select-option value="geral">Geral</ion-select-option>
          <ion-select-option value="café-da-manha">Café da manhã</ion-select-option>
          <ion-select-option value="almoco">Reffeiçã</ion-select-option>
          <ion-select-option value="sobremesa">Sobremesa</ion-select-option>
          
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label (click)="openCuisine('Portuguesa')">Culinária Portuguesa
        </ion-label>
        <ion-select aria-label="Fruit" interface="popover" placeholder="Categoria">
          <ion-select-option button  value="geral">Geral</ion-select-option>
          <ion-select-option value="café-da-manha">Café da manhã</ion-select-option>
          <ion-select-option value="almoco">Refeição</ion-select-option>
          <ion-select-option value="sobremesa">Sobremesa</ion-select-option>
          
        </ion-select>
      </ion-item>
    </ion-list>

    

</ion-content>
