// .recipePhoto {

// }

.descricao {
  text-align: justify;
}



.descricaoTitle {
  font-size: 20px;
  text-align: justify;
  margin-bottom: 20px;
  margin-left: 10px;
}

.descricaoP {
  font-size: 14px;
  text-align: justify;
  margin-bottom: 20px;
  margin-left: 10px;
  margin-right: 10px;
}

.ingredientes {
  border-radius: 25px;
  margin-left: 10px;
  margin-right: 10px;
}

.descricaoPreparo {
  font-size: 20px;
  text-align: justify;
  margin-bottom: 20px;
  margin-left: 10px;
}

.preparo {
  border-radius: 25px;
  margin-left: 10px;
  margin-right: 10px;
}

