<ion-header>
  <ion-toolbar color="danger">
    <ion-title class="text">Perfil do Usuário</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>

<div class="img-container">
  <ion-item>
    <ion-avatar class="img-user">
      <ion-img src="/assets/ratatonho.jpg"></ion-img>
    </ion-avatar> 
  </ion-item>
</div>

<ion-item class="username">Nome</ion-item>

  <ion-item>
    <ion-label>Email:</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Telefone:</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Data de Nascimento:</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Gênero: </ion-label>
  </ion-item>


   <ion-item>
    <ion-label>Receber Notificações</ion-label>
    <ion-toggle color="success"></ion-toggle>
  </ion-item>

  <ion-item lines="none">
    <ion-label>Comidas favoritas:</ion-label>
  </ion-item>

  <ion-item>
    <ion-avatar slot="start"><ion-img src="assets/brigadeiro.jpg"></ion-img></ion-avatar>
    <ion-icon name="star" slot="end"></ion-icon>
    <ion-label>Brigadeiro</ion-label>
      </ion-item>
      <ion-item>
        <ion-avatar slot="start"><ion-img src="assets/strogonoff.jpg"></ion-img></ion-avatar>
        <ion-icon name="star" slot="end"></ion-icon>
        <ion-label>Strogonoff</ion-label>
          </ion-item>
          <ion-item>
            <ion-avatar slot="start"><ion-img src="https://www.guiadasemana.com.br/contentFiles/image/2021/05/FEA/67190_shutterstock-781203586.jpg"></ion-img></ion-avatar>
            <ion-icon name="star" slot="end"></ion-icon>
            <ion-label>Pudim</ion-label>
              </ion-item>
            
            </ion-content>